body {
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
  margin: 0 auto;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  background: black;
  color: white;
  overflow: hidden;
  margin: .1em;
}

#logo {
  max-width: 5em;
  max-height: 5em;
}

.imgBtnGrp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:stretch;
  margin: 10em auto;
  flex-grow: 1;

}

.imgBtn {
  border-radius: .5em;
  display: flex;
  flex: 1;
  min-width: 15em;
  max-width: 15em;
  min-height: 15em;
  max-height: 15em;
}

.footer {
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  font-size: .5em;
  background: black;
  color: white;
  overflow: hidden;
}

.question {
  justify-content: center;
  display: flex;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
  font-size: 1em;
}